{% extends 'base.html.twig' %}
{% block stylesheets %}
     {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">

{% endblock %}
{% block title %}
    Logowanie
{% endblock %}
{% block body %}
    <div class="container">
        {% if error %}
            <div class="alert-danger py-2 px-1">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form class="form-signin" action="{{ path('login') }}" method="POST">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>
{% endblock %}