{% extends 'adminBase.html.twig' %}
{% block title %}
    Administration add new user
{% endblock %}
{% block body %}

        <div class="container">
            <div class="card">
                <div class="card-header text-center">
                     Register new user
            </div>
            <div class="text-center m-lg-5">
                {{ form(form) }}
            </div>
            </div>
        </div>
{% endblock %}