{% extends 'adminBase.html.twig' %}
{% block title %}
    Administration panel Users
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include 'modules/flashMsg.html.twig' %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users list</h5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in paginator.currentPageResults %}
                            <tr>
                                <td><a href="{{ path('admin_users') }}">{{ user.username }}</a> </td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">Options</button>
                                    <div class="dropdown-menu text-center">
                                        <a href="{{ path('admin_edit_user', {'username': user.username}) }}" class=" btn btn-primary">Edit</a>
                                        <a href="{{ path('admin_change_user_password', {'username': user.username}) }}" class=" btn btn-info">Change password</a>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete{{ loop.index }}">Delete</button>
                                    </div>
                                </td>
                            </tr>
                                <div class="modal" id="delete{{ loop.index }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Are you sure?</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete user: {{ user.username }}
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('admin_delete_user', {'username': user.username}) }}" class="btn btn-success">Delete</a>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('admin_register_user') }}" class="btn btn-success">New user</a>
                    </div>
                </div>
            </div>
        </div>
        {{ pagerfanta(paginator, 'twitter_bootstrap4') }}

    </div>
{% endblock %}