.shoppingCart {
    position: fixed;
    top: 3%;
    right: 5%;
    font-size: 1.5rem;
    transition: all 1s ease-in-out;
    z-index: 3;
}
.shoppingCart:hover{
    font-size: 2rem;
}

ul.kitchen {
    list-style-type: none;
    text-align: center;

}
ul.kitchen li {
    margin-left: -2.3rem;
    padding: 0.3rem;
    /*border: 0.05rem solid lightgray;*/
    /*background-color: rgba(248,243,250,0.61);*/
    /*margin-top: 0.3rem;*/
}

.dish-width {
    width: 70%;
}

.info-width {
    width: 15%;
    align-items: center;
}

.kitchen-order {
    text-align: inherit;
    color: #495057;
}
.kitchen-order:hover {
    background-color:#f8f9fa;
    text-decoration: none;
    color: #495057;
}

.kitchen-order:active {
    text-decoration: none;
    background-color: #56AB5D;
    color: #FFFFFF;
}

.kitchen-active-order {
    background-color: #56AB5D;
    color: #FFFFFF;
}

.kitchen-active-order:hover {
    background-color: #56AB5D;
    color: #FFFFFF;
}

.kitchen-order-disabled {
    background-color: rgba(139,139,147,0.61);
    color: #1b1e21;
    text-decoration: none;
}
.kitchen-order-disabled:hover {
    text-decoration: none;
    color: #1b1e21;
}

.waiter-flash-pay {
    animation-name: flash-pay;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes flash-pay {
    50% {background-color: green}
}

.waiter-flash-call {
    animation-name: flash-call;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes flash-call {
    50% {background-color: yellow}
}

.order-card-image {
    height: 25vw;
}

@media (min-width: 576px) {
    .order-card-image {
        height: 300px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .order-card-image {
        height: 200px;
    }
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
}
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
.qty {
    text-align: center;
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
.qty span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.qty input{
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}

.waiter-options {
    position: relative;
    background-color: #f1f1f1;
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.waiter-text {
    position: absolute;
    top: 10%;
    left: 1%;
    color: #b9bbbe;
    border-bottom: 5px solid #5eb5e0 ;
}
