html {
    font-size: 62.5%;
}
body {
    background-color: #eee;
    font-size: 1.8rem;
}

.orders-main {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: rgba(250,250,250,0.61);
}

.order-header {
    padding: 2rem;
    text-align: center;
}
.row-item {
    padding: 2rem;
    border-top: 0.3rem solid lightgray;
}

.total-row {
    padding: 2rem;
    text-align: center;
}

.price {
    padding: 1rem;
    font-size: 3rem;
    color: #FFFFFF;
    background-color: green;
    border-radius: 2rem;
}

.buttons {
    text-align: center;
}

.payment-btn {
    font-size: 2rem;
    border-radius: 1rem;
}

.order-btn {
    font-size: 1.5rem;
    border-radius: 1rem;
    color: #000;
}

.order-btn:hover {
    color: #000;
}
.no-order {
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    background-color: rgba(212,212,250,0.61);
}