{% extends 'adminBase.html.twig' %}
{% block title %}
    Administration category {{ category.name }}
{% endblock %}
{% block body %}

    <div class="container">
        <div class="card">
            <div class="card-header">
                MoveCategory: {{ category.name }}
            </div>
            <div class="card-body">
            {{ category.description }}
            </div>
            <div class="card-footer">
                <a href="{{ path('admin_edit_category', {'slug': category.slug}) }}" class=" btn btn-primary">Edit</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">Delete</button>
                <div class="modal" id="delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Are you sure?</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete category: {{ category.name }}
                            </div>
                            <div class="modal-footer">
                                <a href="{{ path('admin_delete_category', {'slug': category.slug}) }}" class="btn btn-success">Delete</a>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}