{% extends 'waiterBase.html.twig' %}
{% block title %}
    Create order
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% include 'modules/flashMsg.html.twig' %}
        <div class="waiter-options">
            <div class="waiter-text">
                Waiter options:
            </div>
            <a href="{{ path('waiter_orders') }}" class="btn btn-outline-primary">Go back</a>
        </div>
        {{ form(form) }}
    </div>'

{% endblock %}