{% extends 'waiterBase.html.twig' %}
{% block stylesheets %}
    {{ parent() }}


{% endblock %}
{% block title %}
    Order No. {{ order.id }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/waiter/WaiterOrder.js') }}"></script>

{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include 'modules/flashMsg.html.twig' %}
        <div class="waiter-options">
            <div class="waiter-text">
                Waiter options:
            </div>
            <a href="{{ path('waiter_show_order', {'id': order.id}) }}" class="btn btn-outline-primary">Go back</a>
        </div>
        <div id="order" class="h2" order-id="{{ order.id }}">Order No. {{ order.id }}
        </div>
        <table class="table">
            {% for menu in menu %}
            {% if loop.index == 1 or prev != menu.category.name %}
            {% if prev is defined and prev != menu.category.name %}
            </tbody>
            {% endif %}
            {% set prev = menu.category.name %}
            <thead>
            <th colspan="3">{{ prev }}</th>
            </thead>
            <tbody>
            <tr>
                <td>{{ menu.dish.name }}</td>
                <td class="qty">
                        <span class="minus bg-danger">-</span>
                        <input type="number" class="count" name="qty" value="1"">
                        <span class="plus bg-success">+</span>
                </td>
                <td><a href="#" class="btn btn-success order-btn" item-id="{{ menu.id }}">order</a></td>
            </tr>
            {% else %}
                <tr>
                    <td>{{ menu.dish.name }}</td>
                    <td class="qty">
                            <span class="minus bg-danger">-</span>
                            <input type="number" class="count" name="qty" value="1">
                            <span class="plus bg-success">+</span>
                    </td>
                    <td><a href="#" class="btn btn-success order-btn" item-id="{{ menu.id }}">order</a></td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>

    <script>
        $(document).ready(function(){
            $('.count').prop('disabled', true);
            $(document).on('click','.plus',function(){
                console.log();
                let input = $(this).prev();
                input.val(parseInt(input.val()) + 1 );
            });
            $(document).on('click','.minus',function(){
                let input = $(this).next();
                input.val(parseInt(input.val()) - 1 );
                if (input.val() == 0) {
                    input.val(1);
                }
            });
        });
    </script>

{% endblock %}