{% extends 'waiterBase.html.twig' %}
{% block stylesheets %}
    {{ parent() }}


{% endblock %}
{% block title %}
    Your Orders
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reload.js') }}"></script>


{% endblock %}
{% block body %}
<div class="container">
    <div class="row text-center">
        <div class="col-lg-6 pt-3">
            <img src="{{ asset('img/waiter/waiter_index.jpg') }}">
        </div>
        <div class="col-lg-6 pt-3">
            <img src="{{ asset('img/waiter/waiter_index.jpg') }}">
        </div>
        <div class="col-lg-6 pt-3">
            <img src="{{ asset('img/waiter/waiter_index.jpg') }}">
        </div>
        <div class="col-lg-6 pt-3">
            <img src="{{ asset('img/waiter/waiter_index.jpg') }}">
        </div>
    </div>
</div>
{% endblock %}