{% extends 'waiterBase.html.twig' %}
{% block stylesheets %}
    {{ parent() }}


{% endblock %}
{% block title %}
    Your Orders
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reload.js') }}"></script>


{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include 'modules/flashMsg.html.twig' %}
        <div class="waiter-options">
            <div class="waiter-text">
                Waiter options:
            </div>
            <a href="{{ path('waiter_create_order') }}" class="btn btn-outline-primary">Create order</a>
        </div>
        <table class="table table-hover text-center">
            <thead>
            <th>Position</th>
            <th>Order No.</th>
            <th>Price</th>
            <th>Start time</th>
            <th>Options</th>
            </thead>
            <tbody>
            {% if orders == null %}
                <tr class="text-center">
                    <td colspan="5">No orders</td>
                </tr>
            {% else %}
                {% for order in orders %}
                    <tr {% if order.paid == 1 %}class="waiter-flash-pay" {% elseif order.callTheWaiter == 1 %} class="waiter-flash-call" {% endif %}>
                        <td>{{ order.client.username }}</td>
                        <td>{{ order.id }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.date|date('Y.m.d H:m:s') }}</td>
                        {% if order.callTheWaiter == 1 %}
                        <td><a href="{{ path('waiter_show_order', {'id': order.id}) }}" class="btn btn-warning">You are
                                called</a>
                            {% else %}
                        <td><a href="{{ path('waiter_show_order', {'id': order.id}) }}" class="btn btn-primary">Show</a>
                            {% endif %}
                            {% if order.paid == 1 and order.finished != 1 %}
                                <a href="{{ path('waiter_accept_payment', {'id': order.id}) }}" class="btn btn-success">Confirm
                                    pay</a>
                            {% elseif order.finished == 1 %}
                                <a href="{{ path('waiter_archive_order', {'id': order.id}) }}" class="btn btn-warning">Archive</a>
                            {% else %}
                                <button class="btn btn-success" data-toggle="modal" data-target="#payModal">Confirm
                                    pay
                                </button>
                                <div class="modal fade" id="payModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure? Some orders may not finished.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <a href="{{ path('waiter_accept_payment', {'id': order.id}) }}"
                                                   class="btn btn-success">Accept payment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}