{% extends 'waiterBase.html.twig' %}
{% block stylesheets %}
    {{ parent() }}


{% endblock %}
{% block title %}
    Order No. {{ order.id }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include 'modules/flashMsg.html.twig' %}
        <div class="waiter-options">
            <div class="waiter-text">
                Waiter options:
            </div>
            <a href="{{ path('waiter_orders') }}" class="btn btn-outline-primary">Go back</a>
            <a href="{{ path('waiter_edit_order', {'id': order.id}) }}" class="btn btn-outline-primary">Edit order</a>
            <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete order</button>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure? You want delete this order?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="#" class="btn btn-danger">Delete order</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if order.paid == 1 and order.finished != 1 %}
                <a href="{{ path('waiter_accept_payment', {'id': order.id}) }}" class="btn btn-outline-success">Accept
                    payment</a>
            {% elseif order.finished == 1 %}
                <a href="#" class="btn btn-outline-warning">Archive</a>
            {% else %}
                <button class="btn btn-outline-success" data-toggle="modal" data-target="#payModal">Confirm pay</button>
                <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure? Some orders may not finished.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="{{ path('waiter_accept_payment', {'id': order.id}) }}" class="btn btn-success">Accept
                                    payment</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row h2 text-center">
            <div class="col-lg-6 border-right">
                Order No. {{ order.id }}
            </div>
            <div class="col-lg-6">
                Client: {{ order.client.username }}
            </div>
        </div>
        <table class="table table-hover text-center">
            <thead>
            <th>Category</th>
            <th>Dish</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Options</th>
            </thead>
            <tbody>
            {% for dish in order.ordered %}
                <tr>
                    <td>{{ dish.menu.category.name }}</td>
                    <td>{{ dish.menu.dish.name }}</td>
                    <td>{{ dish.menu.dish.price }}</td>
                    <td>{{ dish.quantity }}</td>
                    <td>{% if dish.ready == 1 %}
                            <span class="badge badge-pill badge-success">Finished</span>
                        {% else %}
                            <span class="badge badge-pill badge-warning">In progress</span>
                        {% endif %}
                    </td>
                    <td><a href="#" class="btn btn-primary">Show</a>
                        {% if dish.ready == 0 %}
                            <a href="{{ path('waiter_remove_dish', {'id': dish.id}) }}"
                               class="btn btn-danger">Remove</a>
                        {% else %}
                            <button class="btn btn-danger" data-toggle="modal" data-target="#removeDish">Remove</button>
                            <div class="modal fade" id="removeDish" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure? You want to remove this dish?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <a href="{{ path('waiter_remove_dish', {'id': dish.id}) }}"
                                               class="btn btn-danger">Remove</a></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row h2 text-center border-top">
            <div class="col-lg-12">
                TOTAL : {{ order.price }}
            </div>
        </div>

    </div>
{% endblock %}