{% extends 'base.html.twig' %}
{% block title %}
    Kitchen: Order list
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/kitchen/KitchenOrder.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">Kitchen: Order list</span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('kitchen_your_orders') }}" class="btn btn-primary ml-auto">Go to your orders <i class="fas fa-list-ol"></i></a>
                </li>
                <li class="nav-item ml-2">
                    <a href="#" class="btn btn-warning ml-auto refresh-btn">Refresh <i class="fas fa-sync-alt"></i></a>
                </li>
            </ul>
    </div>
    <div class="container-fluid">
        <div id="jsMessages">
        {% include 'modules/flashMsg.html.twig' %}
        </div>
        <div id="all-orders">
        <div class="row mt-2" id="kitchen-orders">
            {% if orders == null %}
                <div class="col-lg-12 text-center">
                    <h3 class="p-3 badge-light">No orders</h3>
                </div>
            {% else %}
        {% for order in orders %}
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header" order-id="{{ order.id }}">
                    Order no. {{ order.id }}
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-row flex-wrap">
                            {% for dishOrdered in order.ordered %}
                            {% if dishOrdered.isConfirm == 1 %}
                                {% if dishOrdered.ready != 1 %}
                                {% if dishOrdered.kitchen is null %}
                                    <div class="card dish-width orders-active">
                                    <a href="{{ path('kitchen_select_order') }}" class="p-2 px-3 kitchen-order" item-id="{{ dishOrdered.id }}">
                                        {{ dishOrdered.menu.dish.name }}
                                    </a>
                                    </div>
                                    <a href="#" class="card p-2 px-3 info-width list-group-item-action" data-toggle="modal" data-target=".dish{{ dishOrdered.menu.dish.id }}">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a href="{{ path('kitchen_order_finished', {'waiterOrder': order.id, 'orderedDish': dishOrdered.id}) }}" class="card p-2 px-3 info-width list-group-item-action btn disabled text-black-50 check{{ order.id }}{{ dishOrdered.id }}">
                                        <i class="fas fa-check-circle"></i>
                                    </a>
                                    {% elseif dishOrdered.kitchen.cook == app.user %}
                            <div class="card dish-width orders-active">
                                        <a href="{{ path('kitchen_select_order') }}" class=" p-2 px-3 kitchen-order kitchen-active-order" item-id="{{ dishOrdered.id }}">
                                            {{ dishOrdered.menu.dish.name }}
                                        </a>
                            </div>
                                        <a href="#" class="card p-2 px-3 info-width list-group-item-action" data-toggle="modal" data-target=".dish{{ dishOrdered.menu.dish.id }}">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                        <a href="{{ path('kitchen_order_finished', {'waiterOrder': order.id, 'orderedDish': dishOrdered.id}) }}" class="card p-2 px-3 info-width list-group-item-action">
                                            <i class="fas fa-check-circle text-success"></i>
                                        </a>
                                    {% elseif dishOrdered.kitchen.cook != app.user %}
                            <div class="card dish-width orders-active">
                                        <a href="{{ path('kitchen_select_order') }}" class="p-2 px-3 btn disabled text-black-50" item-id="{{ dishOrdered.id }}">
                                            {{ dishOrdered.menu.dish.name }}
                                        </a>
                            </div>
                                        <a href="#" class="card p-2 px-3 info-width list-group-item-action" data-toggle="modal" data-target=".dish{{ dishOrdered.menu.dish.id }}">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                        <a href="#" class="card p-2 px-3 info-width list-group-item-action btn disabled text-black-50">
                                            <i class="fas fa-check-circle"></i>
                                        </a>
                                    {% endif %}
                                    {% else %}
                                        <div class="card dish-width orders-active">
                                            <a href="{{ path('kitchen_select_order') }}" class="p-2 px-3 btn btn-warning text-black-50" item-id="{{ dishOrdered.id }}">
                                                {{ dishOrdered.menu.dish.name }}
                                            </a>
                                        </div>
                                        <a href="#" class="card p-2 px-3 info-width list-group-item-action" data-toggle="modal" data-target=".dish{{ dishOrdered.menu.dish.id }}">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                        <a href="#" class="card p-2 px-3 info-width list-group-item-action btn disabled text-black-50">
                                            <i class="fas fa-check-circle"></i>
                                        </a>
                                {% endif %}
                                <div class="modal fade dish{{ dishOrdered.menu.dish.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{ dishOrdered.menu.dish.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {{ dishOrdered.menu.dish.description }}
                                                <hr>
                                                {{ dishOrdered.menu.dish.recipe }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            {% endif %}
        </div>
        </div>
    </div>

{% endblock %}

