{% extends 'base.html.twig' %}
{% block title %}
    Kitchen: Order list
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">Kitchen: Your order list</span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('kitchen_order_list') }}" class="btn btn-primary ml-auto">Go to all oders <i class="fas fa-list-ol"></i></a>
                </li>
            </ul>
    </div>
    <div class="container-fluid">
        <div id="jsMessages">
        {% include 'modules/flashMsg.html.twig' %}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Order No.</th>
                <th>Dish</th>
                <th>Start</th>
                <th>Finished</th>
            </tr>
            </thead>
            <tbody>
                {% if orders == null %}
                    <tr class="text-center">
                        <td colspan="4">No result</td>
                    </tr>
                {% else %}
        {% for order in orders %}
            <tr>
                <td>{{ order.waiterOrder.id }}</td>
                <td>{{ order.orderedDish.menu.dish.name }}</td>
                <td>{{ order.startTime|date('Y.M.d h:m:s') }}</td>
                <td>
                    {% if order.finishtime is not null %}
                    {{ order.finishTime|date('Y.M.d h:m:s') }}
                    {% else %}

                    <span class="bg-warning p-2">Not finished</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
            {% endif %}
            </tbody>
        </table>
        </div>

{% endblock %}

