{% for data in menu %}
{% for key, value in data  %}

<li class="nav-item">
    <a class="nav-link {% if app.request.get('_route') == value %} active {% endif %}" href="{{ path(value) }}">{{ key }}</a>
</li>
{% endfor %}
{% endfor %}
{#<li class="nav-item">#}
    {#<a class="nav-link" href="{{ path('admin_index') }}">Home#}
        {#<span class="sr-only">(current)</span>#}
    {#</a>#}
{#</li>#}
