{% extends 'base.html.twig' %}
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome: {{ app.user.username }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {#<li class="nav-item">#}
                    {#<a class="nav-link" href="{{ path('waiter_index') }}">Home <span class="sr-only">(current)</span></a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link" href="{{ path('waiter_orders') }}">Orders</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link" href="#">Statistics</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link disabled" href="{{ path('logout') }}">Logout</a>#}
                {#</li>#}
                {{ printMenu([
                    [
                        'Home', 'waiter_index'
                    ],
                    [
                        'Orders', 'waiter_orders'
                    ],
                    [
                        'Statistics', 'waiter_index'
                    ],
                    [
                        'Logout', 'logout'
                    ]
                ]) }}
            </ul>
        </div>
    </nav>
{% endblock %}