{% extends 'adminBase.html.twig' %}
{% block title %}
    Administration edit dish in menu
{% endblock %}
{% block body %}

    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                Edit dish in menu
            </div>
            <div class="text-center m-lg-5">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}