{% extends 'adminBase.html.twig' %}
{% block title %}
    Your menu
{% endblock %}
    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('js/admin/moveRecords.js') }}"></script>
        <script src="{{ asset('js/admin/moveCategory.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include 'modules/flashMsg.html.twig' %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dishes in menu</h5>
                        {% for menu in menu %}
                            {% if category is not defined or category != menu.category.id %}
                        {% if category is defined and category != menu.category.id %}
                            </tbody>
                                </table>
                    </div>
                                {% endif %}
                                {% set category = menu.category.id %}
                    <div id="category{{ menu.category.position }}">
                        <h3 class="float-left"><a href="{{ path('admin_category', {'slug': menu.category.slug}) }}">{{ menu.category.name }}</a></h3>
                        <div class="float-right move" position="{{ menu.category.position }}">
                            <a href="{{ path('admin_menu_category_position_save') }}" class="categoryUp">Up</a>
                            <a href="{{ path('admin_menu_category_position_save') }}" class="categoryDown">Down</a>
                        </div>
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Dish</th>
                                <th scope="col">Position</th>
                                <th scope="col">Options</th>
                                <th scope="col">move</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% endif %}

                            <tr category="{{ menu.category.id }}">
                                <td><a href="{{ path('admin_dish', {'slug': menu.dish.slug}) }}">{{ menu.dish.name }}</a> </td>
                                <td>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">Options</button>
                                    <div class="dropdown-menu text-center">
                                        <a href="{{ path('admin_edit_dish_in_menu', {'id': menu.id}) }}" class=" btn btn-primary">Edit</a>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete{{ loop.index }}">Delete</button>
                                    </div>
                                </td>
                                <td class="dish-position">{{ menu.dishPosition }}</td>
                                <td>
                                    <a href="{{ path('admin_menu_dish_position_save') }}" class="up">Up</a>
                                    <a href="{{ path('admin_menu_dish_position_save') }}" class="down">Down</a>
                                </td>
                            </tr>
                                <div class="modal" id="delete{{ loop.index }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Are you sure?</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete dish {{ menu.dish.name }} from {{ menu.category.name }}
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('admin_delete_dish_from_menu', {'id': menu.id}) }}" class="btn btn-success">Delete</a>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('admin_add_dish_to_menu') }}" class="btn btn-success">Add dish to menu</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}