{% extends 'base.html.twig' %}
{% block title %}
    Administration panel
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/order/clientSendOrder.js') }}"></script>
    <script src="{{ asset('js/order/ClientOrder.js') }}"></script>
    <script src="{{ asset('js/order/RemoveOrder.js') }}"></script>

{% endblock %}

{% block body %}

        <div class="shoppingCart">
            <i class="fas fa-shopping-cart" data-toggle="modal" data-target=".shopping" ></i>
        </div>
        <div class="jumbotron">
    <div class="container text-center">
            <h2>Menu</h2>
    </div>
        </div>
    <div class="container">
        {% include 'modules/flashMsg.html.twig' %}
                    {% for menu in menu %}
                    {% if loop.index == 1 or prev != menu.category.name %}
                        {% if prev is defined and prev != menu.category.name %}
                </div>
                            {% endif %}
                        {% set prev = menu.category.name %}
                        <div class="text-center p-3 bg-light mt-1 mb-1">
                        <h2>{{ menu.category.name }}</h2>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-1 pb-1">
                                <div class="card w-100">
                                    <img class="card-img-top" src="{{ asset('img/dish/' ~ menu.dish.image) }}" alt="Card image cap">
                                    <div class="card-body" item-id="{{ menu.id }}">
                                        <h5 class="card-title">{{ menu.dish.name }}</h5>
                                        <p class="card-text">{{ menu.dish.description }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{ path('client_save_new_order') }}" class="btn btn-primary order-dish">Order</a>
                                        <span class="float-right mt-2">{{ menu.dish.price }}</span>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-lg-3 col-md-6 d-flex align-items-stretch pt-1 pb-1">
                                <div class="card w-100">
                                    <img class="card-img-top" src="{{ asset('img/dish/' ~ menu.dish.image) }}" alt="Card image cap">
                                    <div class="card-body" item-id="{{ menu.id }}">
                                        <h5 class="card-title">{{ menu.dish.name }}</h5>
                                        <p class="card-text">{{ menu.dish.description }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{ path('client_save_new_order') }}" class="btn btn-primary order-dish">Order</a>
                                        <span class="float-right mt-2">{{ menu.dish.price }}</span>
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                    {% endfor %}
                        </div>
                </div>
    <div class="modal fade shopping" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Orders</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="ordered" class="modal-body">
                    {% if order is not null %}
                    {{ render(controller(
                        'App\\Controller\\OrderController::existClientOrders'
                    )) }}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <span id="total-price">
                        {% if order is not null %}
                        {{ order.price }}
                        {% endif %}
                    </span>
                    <a href="{{ path('client_confirm_order') }}" id="send-order" class="btn btn-success">Order</a>
                    <a href="{{ path('client_orders') }}" id="send-order" class="btn btn-primary float-left">See all my orders</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}