{% for order in orders.ordered %}
<div class="row-item row border-bottom mb-4 pb-2">
    <div class="col-md-6">{{ order.menu.dish.name }}</div>
    <div class="col-md-3 qty">
        {% if order.isConfirm != 1 %}
        <span class="minus bg-danger">-</span>
        <input type="number" class="count" name="qty" value="{{ order.quantity }}" item-id="{{ order.id }}"">
        <span class="plus bg-success">+</span>
        {% endif %}
    </div>

    <div class="col-md-1 text-center">{{ order.menu.dish.price }}</div>
    {% if order.isConfirm == 1 %}
        {% if order.ready == 1 %}
            <div class="col-md-2"><span class="badge badge-pill badge-success" item-id="{{ order.id }}">Finished</span> </div>
            {% else %}
            <div class="col-md-2"><span class="badge badge-pill badge-warning" item-id="{{ order.id }}">In progress</span> </div>
                {% endif %}
    {% else %}
    <div class="col-md-2"><i class="fas fa-trash-alt delete-item" item-delete-id="{{ order.id }}"></i> </div>
        {% endif %}
</div>
{% endfor %}
{#<script>#}
    {#$(document).ready(function(){#}
        {#$('.count').prop('disabled', true);#}
        {#$(document).on('click','.plus',function(){#}
            {#console.log();#}
            {#let input = $(this).prev();#}
            {#input.val(parseInt(input.val()) + 1 );#}
        {#});#}
        {#$(document).on('click','.minus',function(){#}
            {#let input = $(this).next();#}
            {#input.val(parseInt(input.val()) - 1 );#}
            {#if (input.val() == 0) {#}
                {#input.val(1);#}
            {#}#}
        {#});#}
    {#});#}
{#</script>#}