{% extends 'base.html.twig' %}
{% block stylesheets %}
     {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/order.css') }}">

{% endblock %}
{% block title %}
    Your Orders
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/order/ClientOrdersList.js') }}"></script>

{% endblock %}
{% block body %}
    <div class="navbar">
    <a href="{{ path('client_menu') }}" class="btn btn-info payment-btn">Back to menu</a>
    </div>
    {% include 'modules/flashMsg.html.twig' %}
    <div class="container orders-main">
        <div class="order-header">
            <h1>Your Orders</h1>
        </div>
        <div class="row">
            <div class="col-md-7">
                Name
            </div>
            <div class="col-md-1">
                Quantity
            </div>
            <div class="col-md-2">
                Price per piece
            </div>
            <div class="col-md-2 options">
                Status
            </div>
        </div>
        {% if orders is not null %}
        {% for order in orders.ordered %}
        <div class="row row-item order{{ order.id }}">
            <div class="col-md-7">
                {{ order.menu.dish.name }}
            </div>
            <div class="col-md-1">
                {{ order.quantity }}
            </div>
            <div class="col-md-2">
                {{ order.menu.dish.price }}
            </div>
            <div class="col-md-2 options">
                {% if order.isConfirm == 1 %}
                    {% if order.ready == 1 %}
                        <span class="badge badge-pill badge-success">Finished</span>
                        {% else %}
                <span class="badge badge-pill badge-warning">In progress</span>
                        {% endif %}
                    {% else %}
                    <a href="{{ path('client_confirm_order') }}" class="btn btn-warning order-btn pr-1">Order dish</a>
                        |
                        <a href="{{ path('client_order_remove') }}" class="btn order-btn fas fa-trash-alt order-btn pl-1 item-delete" item-delete="{{ order.id }}"></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <div class="total-row price">
            <span>Total price:</span><span class="total-price">{{ orders.price }}</span>
        </div>
        <div class="buttons">
            <a href="{{ path('client_call_waiter', {'orderId': orders.id}) }}" class="btn btn-danger payment-btn">Call the waiter</a>
            <a href="{{ path('client_menu') }}" class="btn btn-info payment-btn">Back to menu</a>
            <a href="{{ path('client_pay', {'orderId': orders.id}) }}" class="btn btn-success payment-btn"">Go to payment</a>
        </div>
        {% else %}
            <div class="no-order">
                No result
                <a href="{{ path('client_menu') }}">Go to menu</a>
            </div>
        {% endif %}

    </div>
{% endblock %}