{% extends 'base.html.twig' %}
{% block stylesheets %}
     {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/order.css') }}">

{% endblock %}
{% block title %}
    Your Orders
{% endblock %}

{% block javascripts %}
    {{ parent() }}


{% endblock %}
{% block body %}
    <div class="navbar">
    <a href="{{ path('client_menu') }}" class="btn btn-info payment-btn">Back to menu</a>
    </div>
    <div class="container orders-main">
        {% include 'modules/flashMsg.html.twig' %}
        <div class="order-header">
            <h1>Thank you for your visit. Your order price is:</h1>
        </div>
        <div class="text-center h1 p-3 bg-success">
            {{ order.price }} pln
        </div>

        <div class="text-center h1 pt-3 mt-4">
            See you next time
        </div>

    </div>
{% endblock %}